<a href="https://colab.research.google.com/github/diapatel/DSMP-content/blob/main/Python_tasks/session_1_tasks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Task : Session 1
Solve these questions own your own and try to test yourself what you have learned in the session.

Happy Learning!

### Q1 :- Print the given strings as per stated format.

**Given strings**:
```
"Data" "Science" "Mentorship" "Program"
"By" "CampusX"
```
**Output**:
```
Data-Science-Mentorship-Program-started-By-CampusX
```

Concept- [Seperator and End]

In [2]:
# Write your code here
print("Data", "Science", "Membership", "Program", "started", "By", "CampusX", sep="-" )

Data-Science-Membership-Program-started-By-CampusX

### Q2:- Write a program that will convert celsius value to fahrenheit.

In [3]:
# Write your code here
def convert_to_fahrenheit(temp_celsius):
  return (9*temp_celsius) + 32

convert_to_fahrenheit(0)

32

### Q3:- Take 2 numbers as input from the user.Write a program to swap the numbers without using any special python syntax.

In [6]:
# Write your code here
num1 = int(input("Enter number 1: "))
num2 = int(input("Enter number 2: "))
print(f"Before swapping: {num1}, {num2}")

# using a temp variable
temp = num1
num1 = num2
num2 = temp
print(f"After swapping: {num1}, {num2}")

Enter number 1: 2
Enter number 2: 3
Before swapping: 2, 3
After swapping: 3, 2

3### Q4:- Write a program to find the euclidean distance between two coordinates.Take both the coordinates from the user as input.

In [8]:
# Write your code here
x1 = float(input("Enter x-coordinate of the first point: "))
y1 = float(input("Enter y-coordinate of the first point: "))
x2 = float(input("Enter x-coordinate of the second point: "))
y2 = float(input("Enter y-coordinate of the second point: "))

def euclidean_distance(x1,y1,x2,y2):
  return round(((x2-x2)**2 + (y2-y1)**2) ** 0.5, 2)

euclidean_distance(x1,y1,x2,y2)

Enter x-coordinate of the first point: 1
Enter y-coordinate of the first point: 1
Enter x-coordinate of the second point: 0
Enter y-coordinate of the second point: 0

1.0

### Q5:- Write a program to find the simple interest when the value of principle,rate of interest and time period is provided by the user.

In [10]:
# Write your code here
principal = float(input("Enter principal amount: "))
interest_rate = float(input("Enter interest rate: "))
time_period = float(input("Enter time period: "))

def calculate_simple_interest(principal, interest_rate, time):
  return round(float((principal*interest_rate*time)/100), 2)

calculate_simple_interest(principal, interest_rate, time_period)

Enter principal amount: 100
Enter interest rate: 1
Enter time period: 1

1.0


### Q6:- Write a program that will tell the number of dogs and chicken are there when the user will provide the value of total heads and legs.

For example:
Input:
heads -> 4
legs -> 12
<br>
Output:
dogs -> 2
chicken -> 2

### Logic behind solving this
let number of dogs be d and number of chickens be c.
- each animal has one head : c + d= total_heads (let this be th)
- a chicken has 2 legs and a dog has 4 legs: 2c + 4d = total_legs (let this be tl)
- now solve the 2 equations.
- multiply the first equation by 2 -> 2c + 2d = 2*tl
- now equation2 - 2*equation 1 = 2c + 4d - 2c - 2d = tl - 2*th
- this gives us 2d = tl - 2*th
- d = (tl - 2*th)/2 or number of dogs = (total_legs - 2*total_heads)/2
- and from the first equation, c = total_heads - d
- so now we have solutions for both c and d

In [11]:
# Write your code here
num_heads = int(input("Enter number of heads: "))
num_legs = int(input("Enter number of legs: "))

num_dogs = (num_legs-(2*num_heads))/2
num_chickens = num_heads - num_dogs

print(f"dogs : {num_dogs}, chickens: {num_chickens}")

Enter number of heads:L 4
Enter number of legs: 12
dogs : 2.0, chickens: 2.0

### Q7:- Write a program to find the sum of squares of first n natural numbers where n will be provided by the user.

In [12]:
# Write your code here
n = int(input("Enter a value for n: "))
sum_ = 0

for i in range(1,n+1):
  sum_ += i

print(f"sum of first {n} natural numbers is: {sum_}")

Enter a value for n: 2
sum of first 2 natural numbers is: 3

### Q8:- Given the first 2 terms of an Arithmetic Series.Find the Nth term of the series. Assume all inputs are provided by the user.

In [14]:
# Write your code here
num1 = int(input("Enter the first term of the arithmetic series: "))
num2 = int(input("Enter the second term of the arithmetic series: "))
n = int(input("Enter nth term to be found: "))

common_difference = num2-num1
nth_term = num1 + (n-1)*common_difference
print(f"{n} term of this series is: {nth_term}")

Enter the first term of the arithmetic series: 5
Enter the second term of the arithmetic series: 7
Enter nth term to be found: 3
3 term of this series is: 9

### Q9:- Given 2 fractions, find the sum of those 2 fractions.Take the numerator and denominator values of the fractions from the user.

In [ ]:
# Write your code here

### Q10:- Given the height, width and breadth of a milk tank, you have to find out how many glasses of milk can be obtained? Assume all the inputs are provided by the user.



Input:<br>
Dimensions of the milk tank<br>
H = 20cm, L = 20cm, B = 20cm
<br><br>
Dimensions of the glass<br>
h = 3cm, r = 1cm

In [21]:
import math

tank_height = float(input("Enter height of the tank: "))
tank_width = float(input("Enter width of the tank: "))
tank_length = float(input("Enter length of the tank: "))
glass_radius = float(input("Enter radius of the glass: "))
glass_height = float(input("Enter height of the glass: "))

tank_volume = tank_length*tank_width*tank_height
glass_volume = math.pi * (glass_radius**2) * glass_height
num_glasses = math.floor(tank_volume/glass_volume)
print(num_glasses)

Enter height of the tank: 20
Enter width of the tank: 20
Enter length of the tank: 20
Enter radius of the glass: 1
Enter height of the glass: 3
848